# Pasarela de pagos - Wompi (enlace directo de donación)
# Crea tu enlace en https://dashboard.wompi.co/
NEXT_PUBLIC_WOMPI_DONATION_LINK=https://checkout.wompi.co/l/test_VPOS_wIY2x7

# Configuración de la aplicación
NEXT_PUBLIC_APP_URL=http://localhost:3000
