# Pasarela de pagos - Wompi
# Obtén tus claves en https://dashboard.wompi.co/
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=pub_prod_xxxxxxxxxxxxxxxxxxxxxxxx
WOMPI_PRIVATE_KEY=prv_prod_xxxxxxxxxxxxxxxxxxxxxxxx

# Configuración de la aplicación
NEXT_PUBLIC_APP_URL=http://localhost:3000
